---
import Layout from "../layouts/Layout.astro";
import LandingPage from "../components/LandingPage.svelte";
import Footer from "../components/Footer.astro";
const posts = await Astro.glob("../pages/post/**/*.mdx");
---

<script>
  import AOS from "aos";
  import "aos/dist/aos.css"; // You can also use <link> for styles
  // ..
  AOS.init();
</script>

<Layout title={"Hi There 👋, I'm JewelEyed"}>
  <main>
    <div
      class="w-full min-h-screen bg-[#241b23] flex flex-col items-center justify-center pb-2"
    >
      <div class="w-full h-screen flex items-center justify-center">
        <LandingPage client:only="svelte" />
      </div>
      <div class="p-4"></div>
      <div
        id="more"
        transition:name="window"
        class="w-[90vw] pb-6 bg-[#151515] text-white relative border-4 border-white rounded-md drop-shadow-md"
      >
        <div
          class="w-full bg-black p-1 flex items-center justify-around gap-1 right-1 top-1"
        >
          <span class="pl-1">bun</span>
          <div class="w-full flex items-center justify-end gap-1 right-1 top-1">
            <div
              class="w-4 h-4 rounded-full cursor-pointer transition-all hover:brightness-75 flex items-center justify-center text-sm text-green-500 hover:text-black font-bold bg-green-500"
            >
              +
            </div>
            <div
              class="w-4 h-4 rounded-full cursor-pointer transition-all hover:brightness-75 flex items-center justify-center text-sm text-yellow-500 hover:text-black font-bold bg-yellow-500"
            >
              -
            </div>
            <div
              class="w-4 h-4 rounded-full cursor-pointer transition-all hover:brightness-75 flex items-center justify-center text-sm text-red-500 hover:text-black font-bold bg-red-500"
            >
              ⤫
            </div>
          </div>
        </div>
        <div class="flex">
          <span
            data-aos="fade"
            data-aos-delay="0"
            class="text-green-500 text-2xl pl-2"
          >
            about@jeweleyed_com:~$</span
          >
          <span
            data-aos="fade"
            data-aos-delay="200"
            class="text-white text-2xl pl-2"
          >
          </span>
        </div>
        <div class="flex">
          <span
            data-aos="fade"
            data-aos-delay="300"
            class="text-blue-900 text-2xl pl-2">$</span
          >
          <span
            data-aos="fade"
            data-aos-delay="400"
            class="text-gray-600 text-2xl pl-2">bun index.ts</span
          >
        </div>
        <div class="flex">
          <span
            data-aos="fade"
            data-aos-delay="500"
            class="text-white text-2xl pl-2">Active(ish) Projects:</span
          >
        </div>
        <div class="flex">
          <a
            href="https://obbie.xyz"
            data-aos="fade"
            data-aos-delay="550"
            class="text-white text-2xl pl-2"
          >
            - Obbie (Discord Bot)</a
          >
        </div>
        <div class="flex">
          <span
            data-aos="fade"
            data-aos-delay="600"
            class="text-white text-2xl pl-2">Blog Post(s):</span
          >
        </div>
        <div class="flex flex-col">
          {
            posts.map((post, index) => (post.frontmatter.unlisted ? "" : (
              <a
                href={"/post/" + post.frontmatter.slug}
                data-aos="fade"
                data-aos-delay={650 + index * 50}
                class="text-white text-2xl pl-2"
       1       >
                {" "}
                - {post.frontmatter.title}
              </a>
            )))
          }
        </div>
      </div>
      <div class="w-[90vw]">
        <Footer/>
      </div>
    </div>
  </main>
  </div>
</Layout>
