--- 
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Bio/Landing page for JewelEyed">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<noscript>
	For full functionality of this site it is necessary to enable JavaScript.
	Here are the <a href="https://www.enable-javascript.com/">
	instructions how to enable JavaScript in your web browser</a>.
</noscript>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Lunasima&family=Poppins&display=swap');
</style>